*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Righteous', sans-serif;
}

body{
    color: #fff;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 120px;
    height: 120px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card_back, .card_front{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.card_front{
    background-color: #112238;
    transform: rotateY(180deg);
}

.card_back{
    font-size: 30px;
    color: #112238 ;
    background-color: #3a7bd1;
}

.flip{
    transform: rotateY(180deg);
}


#gameOver{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameOver p{
    font-size: 40px;
}

.restart{
    font-size: 20px;
    padding: 20px;
    border: none;
    border-bottom: 5px solid rgb(160, 160, 0);
    border-radius: 10px;
    background-color: yellow;
    margin-top: 15px;
    cursor: pointer;
}

.restart:hover{
    border-top: 1px solid black;
    border-bottom: 4px solid rgb(160, 160, 0);
}

.restart:active{
    border-top: 5px solid black;
    border-bottom: 0 solid rgb(160, 160, 0);
    transition: border .1s;
}

#gameBoard{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
}